configparser
docopt
future
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
oauthlib
python-magic
requests
requests-oauthlib
requests-toolbelt
schema
tzlocal
Unidecode
uritemplate
urllib3
