{
	"installed":{
		"client_id":"508404313392-4tgem869apgvn0j2f7fleoi410ofa27t.apps.googleusercontent.com",
		"project_id":"ptyt-upload",
		"auth_uri":"https://accounts.google.com/o/oauth2/auth",
		"token_uri":"https://accounts.google.com/o/oauth2/token",
		"auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs",
		"client_secret":"M3cb0DKASd-lLENn9NwsFGm1",
		"redirect_uris":["urn:ietf:wg:oauth:2.0:oob",
		"http://localhost"]
	}
}