# This information is obtained upon registration/once logged in a new PeerTube
# on url+'/api/v1/oauth-clients/local'
# ex: http://domain.example/api/v1/oauth-clients/local
# Warn, no quote " inside this file
[peertube]
client_id = your_client_id
client_secret = your_client_secret
username = LecygneNoir
password = your_secure_pwd
peertube_url = https://domain.example
OAUTHLIB_INSECURE_TRANSPORT = '0' #Default use https
